<launch>
  <arg name="version" default="t1"/>
  <arg name="param1" default="33"/>
  <arg name="param2" default="0"/>


  <node pkg="pub_node" type="pub_node" name="pub_node">
    <param name="version" value="$(arg version)"/>
    <param name="param1" value="$(arg param1)"/>
    <param name="param2" value="$(arg param2)"/>
  </node>

  <include file="$(find pub_node)/launch/tools.launch"/>
</launch>
