<launch>
  <arg name="robot_version" default="t1"/>
  <arg name="test_param" default="33"/>


  <node pkg="pub_node" type="pub_node" name="pub_node">
    <param name="robot_version" value="$(arg robot_version)"/>
    <param name="test_param" value="$(arg test_param)"/>
  </node>

  <include file="$(find node_example)/launch/tools.launch"/>
</launch>
